# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/

# Editor & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Android/IntelliJ
*.iml

# iOS
ios/Flutter/.last_build_id

# Debug / Logs
*.log
*.class
*.pyc
*.swp
